:root {
  --circleDiameter: 80px;  /* Make the cells smaller */
  --bgGray: #9a9596;  /* Normal background color */
  --bgChecked: #63595d;  /* Checked (X) background color */
  --text: #392f2e;  /* Normal text color */
  --textChecked: #c9c9c7;  /* Text color for checked cells */
  --dottedBorder: #392f2e;  /* Border color */
}

.x, .X, .х, .Х {
  background-color: var(--bgChecked) !important;  /* Set checked cells to use the X color */
  border: 3px dashed var(--dottedBorder) !important;
  color: var(--textChecked) !important;
}

.bingo {
  color: var(--text);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.bingo > tbody > tr > td {
  border: 3px solid rgba(0,0,0,0);
  width: var(--circleDiameter);
  height: var(--circleDiameter);
  text-align: center;
  vertical-align: middle;
}

.bingo > tbody > tr > td > div {
  background-color: var(--bgGray);  /* Normal background color */
  border: 3px dashed var(--dottedBorder);
  border-radius: 10%;
  width: var(--circleDiameter);
  height: var(--circleDiameter);
  padding: 0;
  text-align: center;
}

.bingo > tbody > tr > td > div > div {
  height: var(--circleDiameter) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo > tbody > tr > td > div > div > div {
  align-content: center;
  text-overflow: clip;
  height: var(--circleDiameter) !important;
  overflow: hidden;
}

.or {
  display: block;
  font-weight: bold;
  font-style: italic;
  padding: 4px;
}
